$menu-principal-grey: #e6e6e6;

$black: #000000;
$offblack: #161615;
$yellow: #ffcf68;
$brown: #684e31;
$dark-grey: rgba(0, 0, 0, 0.85);
$grey: rgba(0, 0, 0, 0.65);
$light-grey: rgba(0, 0, 0, 0.45);
$disabled-grey-text: rgba(0, 0, 0, 0.25);
$separator-grey: #f0f0f0;
$lightest-grey: #f5f5f5;
$lightestest-grey: #f8f8f8;
$card-border-grey: #d9d9d9;
$white: #ffffff;

$progress-bar-background: rgba(0, 0, 0, 0.15);

// $sidebar-background: #071621;
// $sidebar-selected: #006fd6;

$primary-green: #38B000;

$sidebar-background: #ffffff;
$sidebar-selected: #0d6ce8;
$sidebar-selected-text: #ffffff;
$sidebar-text: #000000;
$sidebar-text-hover: #38B000;
$sidebar-background-selected: $sidebar-text-hover;
$sidebar-background-active: #e4ffd7;

$primary: #38B000;
$primary-darker: rgb(36, 112, 0);
$primary-hover: rgb(48, 153, 0);
$light-primary: #a0ce8b;
$background-color: #fbfbfb;

$bright-green: #1dc917;
$dark-green: #137210;
$green: #137210;
$light-green: #f9fff9;

$dark-blue: #0070d8;
$blue: #0070d8;
$light-blue: #f3f9fd;

$dark-orange: #ee7300;
$orange: #ee7300;
$light-orange: #fff5f0;

$yellow: #ffd000;

$darkest-red: #a10c0f;
$dark-red: #b1171a;
$red: #d42023;
$light-red: #fcd1d1;

$radius: 2px;
$border-radius: 2px;
$btn-radius: 2px;

// Delete
$lightest-green: $light-green;
$lightestest-green: $light-green;
