.diagonalbackground-container{
    background-image: url(../components/images/background.svg);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}