@import "variables.scss";

.card-table-container .ant-card-body {
    padding: 12px;
    .ant-table-thead > tr > th {
        color: $grey;
    }
    .ant-table-thead > tr > th {
        background-color: transparent;
        padding-bottom: 10px;
        padding-top: 4px;
    }
    .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        background-color: transparent;
    }
    .ant-table-pagination.ant-pagination {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .ant-table-content {
        overflow-x: scroll;
    }
}

.table-action-container {
    display: flex;
    justify-content: end;
}
